@charset "utf-8";

/*------------------*/
/*-- Fonts --*/
/*------------------*/






/*-------------------------------------------*/
/* BASIC SETUP */
/*-------------------------------------------*/

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    padding: 0;
    color: #000000;
    font-size: 13px;
    line-height: 21px;
}


html,
body {
    min-height: 100%;
    min-width: 100%;
}

body {
    font-size: 15px;
    line-height: 20px;
    color: #333333;
    background-color: rgb(242, 241, 241);
}


.wrapper {
    min-height: 100%;
    min-width: 100%;
    position: relative;
    z-index: 2;
    background-color: rgb(242, 241, 241);
    background-image: url(img/site_bg.png);
    background-repeat: no-repeat;
    background-position: center bottom;
}


.content {
    position: relative;
    height: 100%;
    min-height: 100%;
    min-width: 100%;
    z-index: 2;
    background: rgba(255, 255, 255, 1);
}

.content.row {
    min-width: auto;
    margin-top: 34px;
}

.content:before {
    display: block;
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transform: rotate(4deg);
    -moz-transform: rotate(4deg);
    -ms-transform: rotate(4deg);
    -o-transform: rotate(4deg);
    transform: rotate(4deg);
    background: rgba(247, 246, 246, 1);
    -webkit-box-shadow: 0 5px 15px 0 rgba(0, 0, 0, .15);
    -moz-box-shadow: 0 5px 15px 0 rgba(0, 0, 0, .15);
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, .15);
}

.main-content {
    background: rgba(255, 255, 255, 1);
    position: relative;
    z-index: 2;
    padding: 0 0 55px 0;
}

.main-content section {
    padding: 45px 7% 20px 7%;
}

.clearfix:after {
    content: "."; 
    display: block; 
    height: 0; 
    clear: both; 
    visibility: hidden;
}

.clearfix {display: inline-block;}

* html .clearfix {height: 1%;}
.clearfix {display: block;}

* html .clearfix             { zoom: 1; }
*:first-child+html .clearfix { zoom: 1; }



::-webkit-input-placeholder {color:#a5abb8;}
::-moz-placeholder          {color:#a5abb8;}
:-moz-placeholder           {color:#a5abb8;}
:-ms-input-placeholder      {color:#a5abb8;}

input,
textarea,
button,
select,
a,
img {
    outline: none;
}

select {
    -webkit-appearance: none;
    appearance: none;
    text-indent: 0.01px;
    text-overflow: "";
}

*::-ms-expand { display: none; }

input::-webkit-input-placeholder       {opacity: 1; transition: opacity .3s ease;}
input::-moz-placeholder                {opacity: 1; transition: opacity .3s ease;}
input:-moz-placeholder                 {opacity: 1; transition: opacity .3s ease;}
input:-ms-input-placeholder            {opacity: 1; transition: opacity .3s ease;}
input:focus::-webkit-input-placeholder {opacity: 0; transition: opacity .3s ease;}
input:focus::-moz-placeholder          {opacity: 0; transition: opacity .3s ease;}
input:focus:-moz-placeholder           {opacity: 0; transition: opacity .3s ease;}
input:focus:-ms-input-placeholder      {opacity: 0; transition: opacity .3s ease;}

textarea::-webkit-input-placeholder       {opacity: 1; transition: opacity .3s ease;}
textarea::-moz-placeholder                {opacity: 1; transition: opacity .3s ease;}
textarea:-moz-placeholder                 {opacity: 1; transition: opacity .3s ease;}
textarea:-ms-input-placeholder            {opacity: 1; transition: opacity .3s ease;}
textarea:focus::-webkit-input-placeholder {opacity: 0; transition: opacity .3s ease;}
textarea:focus::-moz-placeholder          {opacity: 0; transition: opacity .3s ease;}
textarea:focus:-moz-placeholder           {opacity: 0; transition: opacity .3s ease;}
textarea:focus:-ms-input-placeholder      {opacity: 0; transition: opacity .3s ease;}

.animation-delay-onload {
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
    -o-animation-delay: 1s;
    animation-delay: 1s;
}

.animation-delay {
    -webkit-animation-delay: .3s;
    -moz-animation-delay: .3s;
    -o-animation-delay: .3s;
    animation-delay: .3s;
}

/*-------------------------------------------*/
/* ----- DEFAULT STYLES ------ */
/*-------------------------------------------*/

h1 {

}


h2 {
    font-family: "Oranienbaum", Arial, Verdana, serif;
    font-size: 36px;
    line-height: 60px;
    font-weight: normal;
    color: #373940;
    text-align: center;
}

h2:before {
    display: inline-block;
    vertical-align: middle;
    content: "";
    margin: 0 10px 0 0;
    width: 60px;
    height: 4px;
    background: rgba(0, 181, 0, 1);
}

h2:after {
    display: inline-block;
    vertical-align: middle;
    content: "";
    margin: 0 0 0 10px;
    width: 60px;
    height: 4px;
    background: rgba(198, 0, 0, 1);
}

header.big-h {
    display: block;
    margin: 20px auto;
}

header.big-h:before {
    display: block;
    content: "";
    margin: 0 auto 19px auto;
    width: 60px;
    height: 4px;
    background: rgba(0, 181, 0, 1);
}

header.big-h:after {
    display: block;
    content: "";
    margin: 19px auto 0 auto;
    width: 60px;
    height: 4px;
    background: rgba(198, 0, 0, 1);
}

header.big-h h2:before, 
header.big-h h2:after {
    display: none;
}

header.big-h h2 {
    font-family: "Oranienbaum", Arial, Verdana, serif;
    font-size: 60px;
    line-height: 60px;
    font-weight: normal;
    color: #373940;
    text-align: center;
    padding: 0;
}

h3 {
    font-family: "Oranienbaum", Arial, Verdana, serif;
    font-size: 30px;
    line-height: 40px;
    font-weight: normal;
    color: #373940;
}

header.big-h h3 {
    font-style: italic;
}

header h3 {
    text-align: center;
    line-height: 32px
}

p {
    font-family: "PT Serif", Arial, Verdana, serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #373940;
    padding: 12px 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

/*a {
    font-family: "PT Serif", Arial, Verdana, serif;
    font-size: 16px;
    line-height: 16px;
    font-weight: 400;
    color: #373940;
    margin: 0 4px;
    padding: 3px 0;
    text-decoration: none;
    outline: none;
    border-bottom: 1px dotted transparent;

    -webkit-transition-property: color, border-bottom;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: color, border-bottom;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: color, border-bottom;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: color, border-bottom;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;

    transition-property: color, border-bottom;
    transition-duration: .3s;
    transition-timing-function: ease;
}

a:link,
a:visited {
    color: #373940;
    border-bottom: 1px dotted transparent;
}

a.active,
a:active {
    color: #373940;
    border-bottom: 1px dotted #00b500;
}

a:hover {
    color: #00b500;
    border-bottom: 1px dotted #00b500;
}*/

img {
    outline: none;
    border: 0 solid transparent;
    border-width: 0;
}

button:hover,
button:active,
a:hover,
a:active {
    -webkit-tap-highlight-color: rgba(0,0,0,0); 
    -webkit-tap-highlight-color: transparent;
}


.green-btn {
    /*display: inline-block;
    vertical-align: top;*/
    display: block;
    width: 120px;
    height: 41px;
    cursor: pointer;
    margin: 20px auto;
    padding: 0 5px 3px 5px;
    position: relative;
    font-family: "PT Serif", Arial, Verdana, serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #00b500;
    text-align: center;
    background-color: transparent;
    border: 1px solid transparent;

    -webkit-transition-property: color;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: color;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: color;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: color;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;

    transition-property: color;
    transition-duration: .3s;
    transition-timing-function: ease;
}

.green-btn:before {
    display: block;
    content: "";
    width: 100%;
    height: 100%;
    opacity: 1;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(img/green_btn_bg.png);
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: 100%;

    -webkit-transition-property: opacity;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: opacity;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: opacity;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: opacity;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;

    transition-property: opacity;
    transition-duration: .3s;
    transition-timing-function: ease;
}

.green-btn:after {
    display: block;
    content: "";
    width: 100%;
    height: 100%;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(img/green_btn_bg.png);
    background-repeat: no-repeat;
    background-position: 0 -50px;
    background-size: 100%;

    -webkit-transition-property: opacity;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: opacity;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: opacity;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: opacity;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;

    transition-property: opacity;
    transition-duration: .3s;
    transition-timing-function: ease;
}

.green-btn:link,
.green-btn:visited {
    color: #00b500;
}

.green-btn.active,
.green-btn:active {
    color: #c60000;
}

.green-btn:hover {
    color: #c60000;
}

.green-btn:hover:before {
    opacity: 0;
}

.green-btn:hover:after {
    opacity: 1;
}

.white-btn {
    /*display: block;*/
    display: inline-block;
    vertical-align: top;
    width: 120px;
    height: 41px;
    cursor: pointer;
    margin: 16px auto;
    padding: 6px 5px 3px 5px;
    position: relative;
    font-family: "PT Serif", Arial, Verdana, serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #ffffff;
    text-align: center;
    background-color: transparent;
    border: 1px solid transparent;
    background-image: url(img/white_btn_bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.white-btn:hover {
    color: #ffffff;
}

.discount {
    display: inline-block;
    vertical-align: top;
    position: relative;
    background: rgba(198, 0, 0, 1);
}

.discount:before {
    display: block;
    content: "";
    width: 0;
    position: absolute;
    top: 0;
    left: -9px;
    border: 5px solid transparent;
    border-top: 5px solid #c60000;
    border-right: 5px solid #c60000;
}

.discount:after {
    display: block;
    content: "";
    width: 0;
    position: absolute;
    top: 0;
    right: -9px;
    border: 5px solid transparent;
    border-left: 5px solid #c60000;
    border-top: 5px solid #c60000;
}

.discount p {
    display: block;
    width: 100%;
    background: rgba(198, 0, 0, 1);
    text-align: center;
    font-family: "PT Serif", Arial, Verdana, serif;
    font-size: 12px;
    line-height: 20px;
    font-weight: 400;
    color: #ffffff;
    padding: 0 4px;
}

.discount p:before {
    display: block;
    content: "";
    width: 0;
    position: absolute;
    bottom: 0;
    left: -9px;
    border: 5px solid transparent;
    border-right: 5px solid #c60000;
    border-bottom: 5px solid #c60000;
}

.discount p:after {
    display: block;
    content: "";
    width: 0;
    position: absolute;
    bottom: 0;
    right: -9px;
    border: 5px solid transparent;
    border-bottom: 5px solid #c60000;
    border-left: 5px solid #c60000;
}

.discount.new p {
    background: rgba(0, 150, 64, 1);
}

.discount.new:before {
    display: block;
    content: "";
    width: 0;
    position: absolute;
    top: 0;
    left: -9px;
    border: 5px solid transparent;
    border-top: 5px solid #009640;
    border-right: 5px solid #009640;
}

.discount.new:after {
    display: block;
    content: "";
    width: 0;
    position: absolute;
    top: 0;
    right: -9px;
    border: 5px solid transparent;
    border-left: 5px solid #009640;
    border-top: 5px solid #009640;
}

.discount.new p:before {
    display: block;
    content: "";
    width: 0;
    position: absolute;
    bottom: 0;
    left: -9px;
    border: 5px solid transparent;
    border-right: 5px solid #009640;
    border-bottom: 5px solid #009640;
}

.discount.new p:after {
    display: block;
    content: "";
    width: 0;
    position: absolute;
    bottom: 0;
    right: -9px;
    border: 5px solid transparent;
    border-bottom: 5px solid #009640;
    border-left: 5px solid #009640;
}

/*-- Slick --*/

.slick-arrow {
    display: block;
    width: 36px;
    height: 14px;
    cursor: pointer;
    z-index: 2;
    background-color: transparent;
    border: 1px solid transparent;
    background-image: url(img/slick_arrows.png);
    background-repeat: no-repeat;
}

.slick-prev {
    background-position: -1px 0;
}

.slick-next {
    background-position: -47px 0;
}

.promo-slider-box .slick-arrow {
    position: absolute;
    top: 50%;
    margin: -7px;
    z-index: 2;
}

.promo-slider-box .slick-prev {
    left: 3%;
}

.promo-slider-box .slick-next {
    right: 3%;
}


/*-- /Slick --*/

/*-------------------------------------------*/
/* ----- REUSABLE COMPONENTS ------ */
/*-------------------------------------------*/

.row {
    padding: 0;
    max-width: 1180px;
    margin: 0 auto;
}

.offset-ziro {
    font-size: 0;
    line-height: 0;
}

.left {
    float: left;
}

.right {
    float: right;
}

/*-------------------------------------------*/
/* ----- HEADER ------ */
/*-------------------------------------------*/

.header {
    padding: 20px 0;
}

.header .col {
    display: inline-block;
    vertical-align: top;
}

.header .col-1 {
    width: 46%;
}

.header .col-2 {
    width: 24%;
}

.header .col-3 {
    width: 30%;
    text-align: right;
    padding: 4px 0 0 0;
}

/*-- Main Navigation --*/

.main-nav {

}

.main-nav ul {
    font-size: 0;
    line-height: 0;
}

.main-nav ul li {
    display: inline-block;
    vertical-align: top;
    padding: 0 10px;
}

.main-nav ul li a {
    font-family: "PT Serif", Arial, Verdana, serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #373940;
    margin: 0;
    padding: 5px 0;
    border-bottom: 1px solid transparent;

    -webkit-transition-property: color, border-bottom;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: color, border-bottom;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: color, border-bottom;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: color, border-bottom;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;

    transition-property: color, border-bottom;
    transition-duration: .3s;
    transition-timing-function: ease;
}

.main-nav ul li a:link,
.main-nav ul li a:visited {
    color: #373940;
    border-bottom: 1px solid transparent;
}

.main-nav ul li a.active,
.main-nav ul li a:active {
    color: #373940;
    border-bottom: 1px solid #00b500;
}

.main-nav ul li a:hover {
    color: #00b500;
    border-bottom: 1px solid #00b500;
}

/*-- /Main Navigation --*/

/*-- Search Block --*/

.search-block {
    display: inline-block;
    vertical-align: top;
    min-width: 108px;
    position: relative;
    border-bottom: 1px solid #b5b5b5;
}

.search-block input[type=text] {
    display: block;
    width: 100%;
    padding: 0 20px 0 0;
    border: 1px solid transparent;
    background: transparent;
    font-family: "PT Serif", Arial, Verdana, serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #373940;
}

.search-btn {
    width: 15px;
    height: 26px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    background: transparent;
    border: 1px solid transparent;
}

.search-btn:before {
    display: block;
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    opacity: 1;
    background-image: url(img/search.png);
    background-size: 100%;
    background-position: center 7px;
    background-repeat: no-repeat;

    -webkit-transition-property: opacity;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: opacity;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: opacity;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: opacity;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;

    transition-property: opacity;
    transition-duration: .3s;
    transition-timing-function: ease;
}

.search-btn:after {
    display: block;
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0;
    background-image: url(img/search_hover.png);
    background-size: 100%;
    background-position: center 7px;
    background-repeat: no-repeat;

    -webkit-transition-property: opacity;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: opacity;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: opacity;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: opacity;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;

    transition-property: opacity;
    transition-duration: .3s;
    transition-timing-function: ease;
}

.search-btn:hover:before {
    opacity: 0;
}

.search-btn:hover:after {
    opacity: 1;
}

.search-block .search-btn {
    position: absolute;
    top: 0;
    right: 0;
}

/*-- /Search Block --*/

.header a {
    font-family: "PT Serif", Arial, Verdana, serif;
    font-size: 16px;
    line-height: 16px;
    font-weight: 400;
    color: #373940;
    margin: 0 4px;
    padding: 3px 0;
    text-decoration: none;
    outline: none;
    border-bottom: 1px dotted transparent;

    -webkit-transition-property: color, border-bottom;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: color, border-bottom;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: color, border-bottom;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: color, border-bottom;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;

    transition-property: color, border-bottom;
    transition-duration: .3s;
    transition-timing-function: ease;
}

.header a:link,
.header a:visited {
    color: #373940;
    border-bottom: 1px dotted transparent;
}

.header a.active,
.header a:active {
    color: #373940;
    border-bottom: 1px dotted #00b500;
}

.header a:hover {
    color: #00b500;
    border-bottom: 1px dotted #00b500;
}

a.header-tel-link {
    font-family: "PT Serif", Arial, Verdana, serif;
    font-size: 16px;
    line-height: 16px;
    font-weight: 700;
    color: #373940;
    margin: 7px 4px;

    -webkit-transition-property: color;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: color;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: color;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: color;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;

    transition-property: color;
    transition-duration: .3s;
    transition-timing-function: ease;
}

a.header-tel-link:link,
a.header-tel-link:visited {
    color: #373940;
}

a.header-tel-link.active,
a.header-tel-link:active {
    color: #373940;
}

a.header-tel-link:hover {
    color: #00b500;
}

.cart {
    margin: 0 10px;
}

.notepad-icon {
    display: inline-block;
    vertical-align: top;
    width: 14px;
    height: 15px;
    margin: 0 4px 0 0;
    background-image: url(img/notepad_icon.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

/*-------------------------------------------*/
/* ----- CONTENT ------ */
/*-------------------------------------------*/

/*-- Promo Slider Section - Main Page Section 1 --*/

section.promo-section {
    position: relative;
    padding: 0;
}

.promo-slider-box .discounts {
    display: block;
    width: 100%;
    height: 1px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

.promo-slider-box .discounts .slide-discount {
    display: none;
    position: absolute;
    top: -27px;
    left: 33%;
    margin: 0 0 0 -64px;
}

.promo-slider {
    height: 490px;
}

.promo-slider .slide {
    background-color: rgb(198, 0, 0);
    background-image: url(img/slide_bg.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}

.slide-content {
    height: 490px;
    overflow: hidden;
}

.promo-slider-box:before {
    display: block;
    content: "";
    width: 190px;
    height: 68px;
    position: absolute;
    top: -21px;
    right: 8%;
    z-index: 2;
    background-image: url(img/milan.png);
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
}

.promo-slider .slide .col-left {
    display: inline-block;
    vertical-align: top;
    width: 67%;
    position: relative;
}

.promo-slider .slide .col-right {
    display: inline-block;
    vertical-align: top;
    width: 23%;
}

.slide-discount {
    display: inline-table;
    /*display: block;*/
    min-width: 128px;
    min-height: 128px;
    position: absolute;
    top: -27px;
    left: 50%;
    margin: 0 0 0 -64px;
    padding: 3px;
    background-image: url(img/discount_bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
}

.slide-discount:before {
    display: table-cell;
    vertical-align: middle;
    content: "";
    width: 1%;
}

.slide-discount p {
    display: table-cell;
    vertical-align: middle;
    width: 99%;
    text-align: center;
    padding: 0;
    font-family: "Oranienbaum", Arial, Verdana, serif;
    font-size: 72px;
    line-height: 72px;
    font-weight: 400;
    font-style: normal;
    color: #ffffff;
}

.photo {
    display: block;
    height: 490px;
    position: relative;
    top: 0;
}

.photo .img-box {
    width: 100%;
    max-width: 631px;
    height: 475px;
    overflow: hidden;
    position: absolute;
    bottom: -70px;
    left: 17%;
    border: 18px solid #ffffff;
    transform: rotate(-10deg);
    -webkit-box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, .2);
    -moz-box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, .2);
    box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, .2);
}

.photo .img-box img {
    display: block;
    width: auto;
    height: auto;
    min-width: 100%;
    min-height: 100%;
    position: absolute;
    top: -12%;
    left: -4%;
    transform: rotate(10deg);
}


.promo-slider .slide .center-block {
    display: table;
    width: 100%;
    height: 490px;
}

.promo-slider .slide .center-block:before {
    display: table-cell;
    vertical-align: middle;
    content: "";
    width: 1%;
}

.center-inner {
    display: table-cell;
    vertical-align: middle;
    width: 99%;
}

.promo-slider .slide .top-p {
    font-family: "PT Serif", Arial, Verdana, serif;
    font-size: 12px;
    line-height: 18px;
    font-weight: 400;
    color: #ffffff;
    padding: 0;
}

.promo-slider .slide h3 {
    font-family: "Oranienbaum", Arial, Verdana, serif;
    font-size: 60px;
    line-height: 60px;
    font-weight: 400;
    font-style: normal;
    color: #ffffff;
    padding: 0 0 13px 0;
}

.promo-slider .slide .old-price-block {
    display: inline-block;
    vertical-align: top;
    padding: 7px 0 0 0;
}

.promo-slider .slide .old-price {
    display: inline-block;
    vertical-align: baseline;
    font-family: "PT Serif", Arial, Verdana, serif;
    font-size: 16px;
    line-height: 16px;
    font-weight: 400;
    color: #ffffff;
    padding: 0 5px;
    position: relative;
}

.promo-slider .slide .old-price:before {
    display: inline-block;
    vertical-align: baseline;
    content: "";
    width: 100%;
    height: 1px;
    background: rgba(255, 255, 255, .7);
    position: absolute;
    top: 54%;
    left: 0;
    transform: rotate(-8deg);
}

.promo-slider .slide .price {
    display: inline-block;
    vertical-align: baseline;
    font-family: "PT Serif", Arial, Verdana, serif;
    font-size: 24px;
    line-height: 24px;
    font-weight: 400;
    color: #ffffff;
    margin: 0 5%;
    padding: 0;
}


/*-- /Promo Slider Section - Main Page Section 1 --*/

/*-- Catalog Section - Main Page Section 2 --*/

.catalog-nav-box {
    padding: 5px 0 65px 0;
    position: relative;
}

.catalog-nav-box:after {
    display: block;
    content: "";
    width: 90%;
    height: 1px;
    margin: 0 auto;
    position: absolute;
    bottom: 0;
    left: 5%;
    border-bottom: 1px solid #ebe7e5;
}

.catalog-nav {
    font-size: 0;
    line-height: 0;
}

.catalog-nav li {
    display: inline-block;
    vertical-align: top;
    width: 11.11%;
    padding: 20px 0;
}

.catalog-nav li a {
    text-align: center;
}

.catalog-icon {
    display: block;
    width: 100%;
    max-width: 86px;
    height: 66px;
    margin: 0 auto;
    position: relative;
}

.catalog-icon:before {
    display: block;
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(img/catalog_sprite.png);
    background-repeat: no-repeat;
    background-position-y: 0;

    -webkit-transition-property: opacity;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: opacity;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: opacity;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: opacity;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;

    transition-property: opacity;
    transition-duration: .3s;
    transition-timing-function: ease;
}

.catalog-icon:after {
    display: block;
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    background-image: url(img/catalog_sprite.png);
    background-repeat: no-repeat;
    background-position-y: -108px;

    -webkit-transition-property: opacity;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: opacity;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: opacity;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: opacity;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;

    transition-property: opacity;
    transition-duration: .3s;
    transition-timing-function: ease;
}

.catalog-icon.icon-1:before,
.catalog-icon.icon-1:after {
    background-position-x: 3px;
}

.catalog-icon.icon-2:before,
.catalog-icon.icon-2:after {
    background-position-x: -116px;
}

.catalog-icon.icon-3:before,
.catalog-icon.icon-3:after {
    background-position-x: -254px;
}

.catalog-icon.icon-4:before,
.catalog-icon.icon-4:after {
    background-position-x: -382px;
}

.catalog-icon.icon-5:before,
.catalog-icon.icon-5:after {
    background-position-x: -489px;
}

.catalog-icon.icon-6:before,
.catalog-icon.icon-6:after {
    background-position-x: -607px;
}

.catalog-icon.icon-7:before,
.catalog-icon.icon-7:after {
    background-position-x: -720px;
}

.catalog-icon.icon-8:before,
.catalog-icon.icon-8:after {
    background-position-x: -837px;
}

.catalog-icon.icon-9:before,
.catalog-icon.icon-9:after {
    background-position-x: -941px;
}

.catalog-nav li a:hover .catalog-icon:before {
    opacity: 0;
}

.catalog-nav li a:hover .catalog-icon:after {
    opacity: 1;
}

.catalog-nav p {
    font-family: "PT Serif", Arial, Verdana, serif;
    font-size: 16px;
    line-height: 18px;
    font-weight: 400;
    color: #00b500;
    padding: 0;

    -webkit-transition-property: color;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: color;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: color;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: color;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;

    transition-property: color;
    transition-duration: .3s;
    transition-timing-function: ease;
}

.catalog-nav li a:hover p {
    color: #c60000;
}

/*-- /Catalog Section - Main Page Section 2 --*/


/*-- Bargain Section - Main Page Section 3 --*/

.goods-thumbnails {

}

.goods-thumbnails:after {
    display: block;
    content: "";
    width: 91%;
    height: 1px;
    margin: 75px auto 0 auto;
    border-bottom: 1px solid #ebe7e5;
}

.good-thumbnail {
    display: inline-block;
    vertical-align: top;
    width: 20%;
    min-height: 220px;
    position: relative;
    cursor: pointer;
    margin: 15px 0;
    padding: 5px 1% 10px 1%;
    background: rgba(255, 255, 255, 1);
}

.good-thumbnail .inner-block {
    display: block;
    margin: 0 auto;
    background: rgba(255, 255, 255, 1);
}

.good-thumbnail .top-inner {
    position: relative;
}

.good-thumbnail .good-header {
    display: block;
    width: 100%;
    position: absolute;
    top: 100%;
    left: 0;
}

.good-thumbnail .good-header .p-1 {
    font-family: "PT Serif", Arial, Verdana, serif;
    font-size: 16px;
    line-height: 18px;
    font-weight: 400;
    color: #aeaeb0;
    padding: 5px 0 0 0;
}

.good-thumbnail .good-header .p-1 span {
    display: none;
}

.good-thumbnail .good-header h3 {
    font-family: "Oranienbaum", Arial, Verdana, serif;
    font-size: 26px;
    line-height: 26px;
    font-weight: 400;
    color: #373940;
    padding: 1px 0 4px 0;
}

.good-thumbnail .price {
    display: inline-block;
    vertical-align: top;
    width: 50%;
    font-family: "PT Serif", Arial, Verdana, serif;
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
    color: #373940;
    padding: 0;
}

.good-thumbnail .old-price-block {
    display: inline-block;
    vertical-align: top;
    width: 50%;
    text-align: right;
    padding: 5px 0;
}

.good-thumbnail .old-price {
    display: inline-block;
    vertical-align: top;
    font-family: "PT Serif", Arial, Verdana, serif;
    font-size: 16px;
    line-height: 16px;
    font-weight: 400;
    color: #c60000;
    position: relative;
    padding: 0 4px;
}

.good-thumbnail .old-price:before {
    display: inline-block;
    vertical-align: top;
    content: "";
    width: 100%;
    height: 1px;
    background: rgba(198, 0, 0, 1);
    position: absolute;
    top: 54%;
    left: 0;
    transform: rotate(-8deg);
}

.good-thumbnail .photo-block {
    text-align: center;
}

.good-thumbnail .discount {
    top: 11px;
}

.good-thumbnail .img-box {
    display: block;
    width: 100%;
    height: 110px;
    overflow: hidden;
}

.good-thumbnail .img-box img {
    display: block;
    width: auto;
    height: auto;
    min-width: 100%;
    min-height: 100%;
}

.bottom-block {
    display: none;
    padding: 10px 0;
}

.good-descripts {

}

.good-descripts .descript {
    display: table;
    width: 100%;
    position: relative;
}

.good-descripts .descript:before {
    display: block;
    content: "";
    width: 100%;
    position: absolute;
    bottom: 7px;
    left: 0;
    border-top: 1px solid #e7e7e7;
}

.good-descripts .descript p {
    display: table-cell;
    vertical-align: baseline;
    padding: 0;
    position: relative;
    z-index: 2;
    font-family: "PT Serif", Arial, Verdana, serif;
    font-size: 13px;
    line-height: 24px;
    font-weight: 400;
    color: #373940;
}

.good-descripts .descript .cell-1 {
    display: table-cell;
    vertical-align: baseline;
    width: auto;
    text-align: left;
}

.good-descripts .descript p.green span {
    color: #00b500;
}

.good-descripts .descript .cell-2 {
    display: table-cell;
    vertical-align: baseline;
    text-align: right;
    font-family: "PT Serif", Arial, Verdana, serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #373940;
}

.good-descripts .descript p span {
    display: inline-block;
    vertical-align: top;
    background: rgba(255, 255, 255, 1);
}

.checked-icon {
    display: inline-block;
    vertical-align: top;
    width: 13px;
    height: 11px;
    background-image: url(img/checkout_icon.png);
    background-position: center;
    background-repeat: no-repeat;
}

.good-descripts .descript .checked-icon {
    position: relative;
    top: 7px;
    margin: 0 0 0 3px;
}

.good-thumbnail .buy-btn-box {
    text-align: center;
}

.good-thumbnail .buy-btn-box button {
    display: inline-block;
    vertical-align: top;
}

.good-thumbnail .green-btn {
    margin: 14px 0 7px 0;
}

.good-thumbnail:hover {
    z-index: 2;
}

.good-thumbnail:hover .inner-block {
    width: 150%;
    position: absolute;
    top: -85px;
    left: -25%;
    padding: 20px 20px 0 20px;
    -webkit-box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.4);
    -moz-box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.4);
    box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.4);
}
.good-thumbnail:hover .good-header {
    position: relative;
    top: 0;
}
.good-thumbnail:hover .img-box {
    height: 166px;
}
.good-thumbnail:hover .bottom-block {
    display: block;
}
 
/*-- /Bargain Section - Main Page Section 3 --*/

/*-- Facrory Section - Main Page Section 4 --*/

.sort-block {
    padding: 30px 0 25px 0;
}

.sort-nav {

}

.sort-nav li {
    display: inline-block;
    vertical-align: top;
    padding: 5px 8px
}

.sort-nav li a {
    font-family: "PT Serif", Arial, Verdana, serif;
    font-size: 26px;
    line-height: 26px;
    font-weight: 400;
    color: #00b500;

    -webkit-transition-property: color;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: color;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: color;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: color;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;

    transition-property: color;
    transition-duration: .3s;
    transition-timing-function: ease;
}

.sort-nav li a:link,
.sort-nav li a:visited {
    color: #00b500;
}

.sort-nav li a.active,
.sort-nav li a:active {
    color: #373940;
}

.sort-nav li a:hover {
    color: #373940;
}

.factory-thumbnails {

}

.factory-thumbnail {
    display: inline-block;
    vertical-align: top;
    width: 20%;
    min-height: 130px;
    margin: 10px 0;
    padding: 0 1%;
}

.factory-thumbnail .inner {
    display: block;
    width: 100%;
    min-height: 130px;
    text-align: center;
    margin: 0;
    position: relative;
    padding: 20px 0 10px 0;
    -webkit-box-shadow: 0px 4px 9px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 4px 9px 0px rgba(0,0,0,0.3);
    box-shadow: 0px 4px 9px 0px rgba(0,0,0,0.3);

    -webkit-transition-property: box-shadow;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: box-shadow;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: box-shadow;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: box-shadow;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;

    transition-property: box-shadow;
    transition-duration: .3s;
    transition-timing-function: ease;
}

.factory-thumbnail .inner:hover {
    border-bottom: none !important;
    -webkit-box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, .6);
    -moz-box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, .6);
    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, .6);
}

.factory-thumbnail .inner .discount {
    width: 68px;
    position: absolute;
    top: -11px;
    left: 50%;
    margin: 0 0 0 -34px;
}

.factory-thumbnail .img-box {
    display: block;
    width: 100%;
    height: 56px;
    overflow: hidden;
}

.factory-thumbnail .img-box img {
    display: block;
    width: auto;
    height: auto;
    min-width: 100%;
    min-height: 100%;
}

.factory-thumbnail .thumb-name {
    font-family: "PT Serif", Arial, Verdana, serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #373940;
    padding: 17px 0 0 0;
}

.factory-thumbnail .new {

}


/*-- /Facrory Section - Main Page Section 4 --*/

/*-------------------------------------------*/
/* ----- FOOTER ------ */
/*-------------------------------------------*/

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
}

.footer {
    padding: 10px 0 0 0;
    background: rgba(0, 0, 0, 1);
}

.footer .row {
    background-image: url(img/contacts_map_img.png);
    background-position: 79% 0;
    background-repeat: no-repeat;
}

.contacts {
    text-align: center;
    padding: 82px 0 63px 0;
}

.tel-link {
    display: inline-block;
    vertical-align: top;
    font-family: "Oranienbaum", Arial, Verdana, serif;
    font-size: 36px;
    line-height: 36px;
    font-weight: 400;
    color: #373940;
    margin: 12px 0;
    padding: 0;

    -webkit-transition-property: color;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: color;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: color;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: color;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;

    transition-property: color;
    transition-duration: .3s;
    transition-timing-function: ease;
}

.tel-link:link,
.tel-link:visited {
    color: #373940;
}

.tel-link.active,
.tel-link:active {
    color: #373940;
}

.tel-link:hover {
    color: #00b500;
}

.footer .contacts p {
    font-family: "PT Serif", Arial, Verdana, serif;
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    color: #373940;
    padding: 0;
}


.footer p {
    font-family: "PT Serif", Arial, Verdana, serif;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    color: #373940;
    padding: 0;
}

.footer .col {
    display: block;
    width: 50%;
}

.footer .col.right {
    text-align: right;
}

.maximus-studio {
    padding: 0;
    line-height: 20px;
    border-bottom-width: 0px !important;
}

.maximus-studio img {
    position: relative;
    top: 6px;

    -webkit-transition-property: transform;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: transform;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: transform;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: transform;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;

    transition-property: transform;
    transition-duration: .3s;
    transition-timing-function: ease;
}

.maximus-studio:hover img {
    -webkit-transform: scale(1.03);
    -moz-transform: scale(1.03);
    -o-transform: scale(1.03);
    transform: scale(1.03);
}
